/* passwordProtection.module.css */

body, html {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}


.passwordProtection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100lvh;
}

.content {
  text-align: center;
  color: black;
}

.logo {
  position: absolute;
  top: 20px; /* Adjust this value to set the distance from the top of the page */
  left: 50%;
  transform: translateX(-50%); /* Centers the logo horizontally */
  max-width: 200px; /* Set a specific max-width */
  height: auto;
  object-fit: contain;
}

.logo img {
  max-height: 100%;
  max-width: 200px; /* Set a specific max-width */
  height: auto;
  object-fit: contain;
}



.formContainer {
  width: 300px;
  margin: -130px auto;
}


@media only screen and (max-width: 768px) {
  .passwordProtection {
    background-size: 140% auto; /* Set width to 50%, height auto-adjusts */
    
  }
} 