/* passwordProtection.module.css */

body, html {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
  }
  .passwordProtection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100lvh;
  }
  
  .content {
    text-align: center;
    color: black;
  }
  
  .logo {
    position: absolute;
    top: 20px; /* Adjust this value to set the distance from the top of the page */
    left: 50%;
    transform: translateX(-50%); /* Centers the logo horizontally */
    max-width: 200px; /* Set a specific max-width */
    height: auto;
    object-fit: contain;
  }

.logo img {
    max-height: 100%;
    max-width: 200px; /* Set a specific max-width */
    height: auto;
    object-fit: contain;
  }


  
  .passwordPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100lvh;
    flex-direction: column;
  }

  .emailFormContainer {
    margin-top: 4rem; /* Adjust this value to set the desired distance */
  }
  



.passwordFormContainer {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.passwordButton {
    border: none;
    background: transparent;
    color: #252525;
    font-size: 13px;
    font-weight:400;
    padding: 0.5rem 0;
    cursor: pointer;
    outline: none; /* Removes the outline on focus */
    margin-top: 1rem;
    border-radius: 25px;
    border: 1px solid #b4b4b4; /* White border for the button */
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.passwordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.passwordButton:hover {
    /* background-color: #fff;  */
    /* White background on hover */
    color: #000; /* Black text on hover */
}


.passwordInput {
    width: 100%;
    border: none;
    border-bottom: 1px solid #b4b4b4; /* Underline */
    background: transparent; /* Transparent background */
    color: #1e1e1e; /* White font color */
    font-size: 13px;
    font-weight: 500;
    padding: 0.5rem 0;
    outline: none; /* Removes the outline on focus */
    font-family: 'Noto Sans';
    /* font-weight:500; */
    margin-bottom: 1rem;
}


.passwordInput::placeholder {
    color: #252525; /* Adjust the placeholder color */
    font-size: 13px;
    font-weight:400
}